* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
}
:root {
  --primary-color: #4a2694;
  --secondary-color: #6e1f90;
  --violet-color: #351673;
  --violet-secondary: #9e7ee1;
  --white-color: #fff;
  --black-color: #000;
  --whitish-color: #fdfdfd;
  --grey-color: grey;
  --bg-primary: rgb(8, 15, 24);
  --bg-secondary: #d9d9d9;
  --black-secondary: #333333;
  --dim-black: #5b5a5a;
}
body,
html {
  font-size: 16px;
  color: var(--black-color);
  font-family: Roboto;
  background-color: var(--white-color);
  font-weight: 400;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
